* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-color: rgb(161, 209, 200);
  background-repeat: no-repeat;
      }
  .block {
    padding: 100px;
    margin: -70px 20px 20px 20px;
    background-position: center;
    text-align: center;
  }
  .card {
    display: inline-block;
    justify-content: center;
    align-items: center;
    border: 10px solid rgb(186, 183, 238);
    margin: 20px 20px;
    padding: 50px;
    width: 350px;
    height: 500px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px rgb(13, 130, 62);
    background-color: white;
    text-align: left;
    cursor: pointer;
  }
  .card:hover {
    transform: scale(1.05);
  }
  img {
    width: 250px;
  }
  .h22 {
    position: relative;
    margin-top: 25px;
    font-family: "Montserrat";
    font-size: medium;
    font-weight: 900;
    color: rgb(62, 20, 113);
  }
  .stamp {
    display: flex;
    justify-content: flex-start;
    width: 150px;
    height: 120px;
    }
  .texture {
    font-family: "Montserrat";
    font-size: medium;
    font-weight: 600;
    color: gray;
  }
  .button1 {
    background: rgb(21, 234, 21);
    border: 1px solid rgb(251, 4, 4);
    padding: 0px;
    border-radius: 10px;
    cursor: pointer;
    margin: 60px 35px 0 20px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
    font-size: 15px;
    width: 180px;
    height: 35px;
  }
  .p1 {
    margin: 0;
  }
  .button2 {
    background: rgb(21, 234, 21);
    border: 1px solid rgb(251, 4, 4);
    padding: 0px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0px 20px 0 40px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);
    font-size: 15px;
    width: 150px;
    height: 35px;
  }
  .p1 {
    margin: 0 20px 0 20px;
    font-weight: bold;
    color: #a41515;
  }
  .button1:hover {
    background-color: #e17c9d;
    transition: 0, 7s;
  }
  .price {
    font-family: "Montserrat";
    color: #f70505;
    font-weight: bold;
    width: 150px;
    height: 10px;
    margin: 0 0 10px 0;
      }
  